@page "/config/twitch"
@using Kanoe2.Data.Models

<MudCard Class="mt-3">

    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4"> <b>Twitch Config</b></MudText>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent>
        <Kanoe2.Shared.Components.PasswordInput @bind-Value="Id" Label="ID" Variant="Variant.Filled" Class="pt-3" />
        <Kanoe2.Shared.Components.PasswordInput Value="ConfigService.GetTwitchToken()" Label="Token"
            Variant="Variant.Outlined" Margin="Margin.Dense" Class="pt-3" ReadOnly />
        <div class="d-flex gap-5">
            <MudTextField Value="ConfigService.GetTwitchLogin()" Label="Login" Variant="Variant.Outlined"
                Margin="Margin.Dense" Class="pt-3" ReadOnly />
            <Kanoe2.Shared.Components.PasswordInput Value="ConfigService.GetTwitchUserId()" Label="UserID"
                Variant="Variant.Outlined" Margin="Margin.Dense" Class="pt-3" ReadOnly />
        </div>
    </MudCardContent>

    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="TwitchAuth" Class="ml-auto">Auth</MudButton>
    </MudCardActions>

</MudCard>

@code {
    [Inject]
    public required Services.Config ConfigService { get; set; }
    [Inject]
    public required NavigationManager Navigation { get; set; }

    public string Id { get; set; } = "";

    protected override void OnInitialized()
    {
        Id = ConfigService.GetTwitchId() ?? "";
    }

    private void TwitchAuth()
    {
        if (Id != null)
        {
            ConfigService.SetTwitchId(Id);

            string OAuthParams =
            $"client_id={Id}" +
            $"&redirect_uri={Navigation.BaseUri}twitchoauth" +
            "&response_type=token" +
            "&force_verify=true" +
            "&scope=bits:read channel:read:redemptions channel:read:subscriptions";

            Navigation.NavigateTo($"https://id.twitch.tv/oauth2/authorize?{OAuthParams}");
        }
    }
}
